<h2 class="text-center">Employee Registration Form</h2>
<div class="container">
  <form #employeeForm="ngForm" (ngSubmit)="submit()" novalidate
    style="border: 1px solid black; padding: 10px 50px; background-color: aliceblue;">
    <div class="container">
      <!-- <hr/>
      {{ employeeForm.value | json }}
      <hr/>
      {{ employeeModel | json }}
      <hr/> -->
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <!-- <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp" ngModel /> -->
      <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp" required
        #name="ngModel" [class.is-invalid]="name.invalid && name.touched" [(ngModel)]="employeeModel.name" />
      <div id="nameHelp" class="form-text small text-danger" [class.d-none]="name.valid || name.untouched">Name is required</div>
    </div>
    <div class="mb-3">
      <label for="gender" class="form-label">Gender</label>
      <div id="genderHelp" class="form-text small text-danger" [class.d-none]="gender.valid || gender.untouched">Gender is required</div>
      <div class="form-check">
        <!-- <input class="form-check-input" type="radio" id="male" name="gender" value="male" ngModel /> -->
        <input class="form-check-input" type="radio" id="male" name="gender" value="male" required
          #gender="ngModel" [class.is-invalid]="gender.invalid && gender.touched" [(ngModel)]="employeeModel.gender" />
        <label class="form-check-label" for="male">Male</label>
      </div>
      <div class="form-check">
        <!-- <input class="form-check-input" type="radio" id="female" name="gender" value="female" ngModel /> -->
        <input class="form-check-input" type="radio" id="female" name="gender" value="female" required
          #gender="ngModel" [class.is-invalid]="gender.invalid && gender.touched" [(ngModel)]="employeeModel.gender" />
        <label class="form-check-label" for="female">Female</label>
      </div>
    </div>
    <!-- <select class="form-select" aria-label="Default select example" name="profile" ngModel> -->
    <select class="form-select" aria-label="Default select example" name="profile"
      #profile="ngModel" [class.is-invalid]="profileHasError && profile.touched" [(ngModel)]="employeeModel.profile"
      (blur)="validateProfile(profile.value)" (change)="validateProfile(profile.value)" >
      <option selected>Profile of Employee</option>
      <option *ngFor = "let profile of employeeProfiles" [value] = "profile">{{profile}}</option>
    </select>
    <!-- <div id="profileHelp" class="form-text small text-danger" [class.d-none]="profile.valid || profile.untouched">Please choose the profile of employee</div> -->
    <div id="profileHelp" class="form-text small text-danger" [class.d-none]="!profileHasError || profile.untouched">Please choose the profile of employee</div>
    <div class="mb-3 form-check">
      <!-- <input type="checkbox" class="form-check-input" id="docsCheck" name="docsCheck" ngModel /> -->
      <input type="checkbox" class="form-check-input" id="docsCheck" name="docsCheck" required
        #docsCheck="ngModel" [class.is-invalid]="docsCheck.invalid && docsCheck.touched" [(ngModel)]="employeeModel.docsCheck" />
      <label class="form-check-label" for="docsCheck">Docs Incomplete</label>
      <div id="docsCheckHelp" class="form-text small text-danger" [class.d-none]="docsCheck.valid || docsCheck.untouched">This is required</div>
    </div>
    <div ngModelGroup="address">
      <div class="mb-3">
        <label for="house-number" class="form-label">House Number</label>
        <!-- <input type="text" class="form-control" id="house-number" name="house-number" aria-describedby="emailHelp" ngModel /> -->
        <input type="text" class="form-control" id="house-number" name="house-number" aria-describedby="emailHelp" required
          #houseNumber="ngModel" [class.is-invalid]="houseNumber.invalid && houseNumber.touched" [(ngModel)]="employeeModel.address.houseNumber" />
          <div id="house-numberHelp" class="form-text small text-danger" [class.d-none]="houseNumber.valid || houseNumber.untouched">House number is required</div>
      </div>
      <div class="mb-3">
        <label for="city" class="form-label">City</label>
        <!-- <input type="text" class="form-control" id="city" name="city" aria-describedby="emailHelp" ngModel /> -->
        <input type="text" class="form-control" id="city" name="city" aria-describedby="emailHelp" required
          #city="ngModel" [class.is-invalid]="city.invalid && city.touched" [(ngModel)]="employeeModel.address.city" />
          <div id="cityHelp" class="form-text small text-danger" [class.d-none]="city.valid || city.untouched">City is required</div>
      </div>
      <div class="mb-3">
        <label for="pin-code" class="form-label">PIN Code</label>
        <!-- <input type="text" class="form-control" id="pin-code" name="pin-code" aria-describedby="emailHelp" ngModel /> -->
        <input type="text" class="form-control" id="pin-code" name="pin-code" aria-describedby="emailHelp" required
          #pincode="ngModel" pattern="^\d{6}$" [class.is-invalid]="pincode.invalid && pincode.touched" [(ngModel)]="employeeModel.address.pincode" />
          <!-- <div id="pin-code-Help" class="form-text small text-danger" [class.d-none]="pincode.valid || pincode.untouched">PIN code is required and should be six digits</div> -->
          <div *ngIf="pincode.errors && (pincode.invalid && pincode.touched)">
            <div id="pin-code-Help-req" *ngIf="pincode.errors['required']" class="form-text small text-danger">PIN code is required</div>
            <div id="pin-code-Help-dig" *ngIf="pincode.errors['pattern']" class="form-text small text-danger">PIN code should be exactly six digits long</div>
          </div>
      </div>
    </div>
    <!-- <button type="submit" class="btn btn-primary" (click)="submit(employeeForm)">Submit</button> -->
    <button type="submit" class="btn btn-primary" [disabled]="employeeForm.form.invalid || profileHasError">Submit</button>
  </form>
  <div style="border: 1px solid black; padding: 10px;">
    <table  class="table table-success table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>gender</th>
          <th>profile</th>
          <th>docsCheck</th>
          <th>city</th>
          <th>pincode</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of formData">
          <td>{{item.name}}</td>
          <td>{{item.gender}}</td>
          <td>{{item.profile}}</td>
          <td>{{item.docsCheck}}</td>
          <td>{{item.address.city}}</td>
          <td>{{item.address.pincode}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<hr>
